<h3>Discount #<%= @discount.id %></h3>
<p>Percentage: %<%= @discount.percentage %></p>
<p>Quantity Threshold: <%= @discount.quantity_threshold %></p>
<%= link_to 'Update Bulk discount', edit_merchant_bulk_discount_path(@merchant.id, @discount.id) %>
